body {
    background-image: linear-gradient(to right, #262333, #19191D);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    height: 100vh;
    padding: 45px;
    box-sizing: border-box;
}

#expense-title {
    background-image: linear-gradient(to left, #262333, #19191D);
    grid-column: 1;
    grid-row: 1;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#expense-tracker-text {
    color: #D7D4C4;
    font-size: 100px;
    text-align: center;
    padding: 15px;
    background: -webkit-linear-gradient(#8B8B8B, #D7D4C4, #8B8B8B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#functionality-div {
    background-image: linear-gradient(to left, #262333, #19191D);
    grid-column: 1;
    grid-row: 2;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#table-div {
    background-image: linear-gradient(to right, #262333, #19191D);
    grid-column: 2;
    grid-row: 1 / 3; /* Span from row 1 to 3 (full height) */
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.sub-div {
    padding: 20px;
}

.initial-button {
    background-color: #32303D;
    color: #D7D4C4;
    border: #32303D;
    border-radius: 8px;
    font-size: 65px;
    margin: auto;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 10px 10px 20px #111013;
}

.initial-button:hover {
    background-color: #4D4A5E;
    color: #20202b;
}

#view-button {
    grid-column: 1;
}

#track-button {
    grid-column: 2;
}